<tr class="master-subject master-subject-<%= master_subject.id %>"
  data-id="<%= master_subject.id %>">
  <td><%= text_field_tag :code, {}, value: master_subject.code,
    class: "form-control master_subject.code" %></td>
  <td><%= text_field_tag :name, {}, value: master_subject.name,
    class: "form-control master_subject_name" %></td>
  <td><%= number_field_tag :creadit, {}, value: master_subject.creadit,
    class: "form-control master_subject_creadit" %></td>
  <td>
    <i class="fa fa-check index-button update-master-subject text-blue index-button"
      aria-hidden="true" title="<%= t 'buttons.update'%>" style="cursor: pointer"></i>

    <%= link_to edit_admin_master_subject_path(master_subject, close: true),
      remote: true  do %>
        <i class="fa fa-times index-button" aria-hidden="true"
          title="<%= t 'buttons.close'%>"></i>
    <% end %>
  </td>
</tr>
