<table class="table table-bordered table-condensed table-striped">
  <thead class="thead-inverse">
    <tr>
      <th class="col-md-2 text-center"><%= sort_link search, :code, t(".code"), {}, {remote: true} %></th>
      <th class="col-md-8"><%= sort_link search, :name, t(".name"), {}, {remote: true} %></th>
      <th class="col-md-1 text-center"><%= sort_link search, :creadit, t(".creadit"), {}, {remote: true} %></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% if master_subjects.present? %>
      <%= render master_subjects %>
    <% else %>
      <tr>
        <td colspan="4"><%= render "shared/nothing" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate master_subjects, remote: true %>
