<%= search_form_for search, remote: true, url: admin_master_subjects_path do |f| %>
  <div class="form-group">
    <label class="col-sm-1">
      <%= t "search" %>
    </label>
    <div class="col-sm-8">
      <%= f.search_field :code_or_name_cont, placeholder: t(".code_or_name"), class: "form-control" %>
    </div>
    <div class="col-sm-2">
      <%= f.number_field :creadit_eq, placeholder: t(".creadit"),  class: "form-control" %>
    </div>
    <div class="col-sm-1">
      <%= f.submit t "buttons.search" %>
    </div>
  </div>
<% end %>

