<h1>Admin::MasterSubject#edit</h1>
<%= form_for [:admin, @master_subject] do |f| %>
  <%= render "shared/error_messages", object: @master_subject %>

  <%= f.label :code, t(".code") %>
  <%= f.text_field :code, class: "form_control" %>

  <%= f.label :name, t(".name") %>
  <%= f.text_field :name, class: "form_control" %>

  <%= f.label :creadit, t(".creadit") %>
  <%= f.number_field :creadit, class: "form_control" %>

  <%= f.submit t "buttons.update" %>
<% end %>
