<div id="master_subjects">
  <h1><%= t ".title"%></h1>
  <div>
    <div class="subject-form col-md-10 col-md-offset-1">
      <%= render "button_create" %>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="search-form">
        <%= render "search_form", search: @search %>
      </div>
      <div id="subject-main">
        <%= render "master_subjects_table", search: @search,
          master_subjects: @master_subjects %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).on('turbolinks:load ajaxComplete', function() {
    $(".cancel").on("click", function (argumen) {
      $(".subject-form").html("<%= j render 'button_create' %>");
      $("tr.tr-edit").removeClass("tr-edit");
    })
  });
</script>
