<%= form_for [:admin, support.master_class_subject], remote: true do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label t(".code") %>
        </div>
        <div class="col-md-10">
          <div class="class_subject_code">
            <%= f.text_field :code, disabled: true, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label t(".name") %>
        </div>
        <div class="col-md-10">
          <%= f.text_field :name, placeholder: t(".please_input_name"),
            class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label t(".master_subject_id") %>
        </div>
        <div class="col-md-10">
          <%= f.select :master_subject_id, support.collection_subject_select,
            {include_blank: true}, class: "form-control select-subject" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label t(".master_class_id") %>
        </div>
        <div class="col-md-10">
          <%= f.select :master_class_id, support.collection_class_select,
            {include_blank: true}, class: "form-control select-class" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label t(".user_id") %>
        </div>
        <div class="col-md-10">
          <%= f.select :user_id, support.collection_user_select,
            {include_blank: true}, class: "form-control select-user" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label t(".room_id") %>
        </div>
        <div class="col-md-10">
          <%= f.select :room_id, support.collection_room_select,
            {include_blank: true}, class: "form-control select-room" %>
        </div>
      </div>
    </div>
    <%= hidden_field_tag :master_course_id, support.master_course.id %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Close</button>
    <%= f.submit t("buttons.create_and_continue"), name: "create_and_continue",
      class: "btn btn-primary pull-right btn-create-and-continue btn-submit" %>
    <%= f.submit t("buttons.create"),
      class: "btn btn-primary pull-right btn-submit" %>
  </div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $(".select-subject").select2({
    placeholder: "<%= t 'select.subject' %>",
    allowClear: true,
    width: "100%"
  });
  $(".select-class").select2({
    placeholder: "<%= t 'select.class' %>",
    allowClear: true,
    width: "100%"
  });
  $(".select-user").select2({
    placeholder: "<%= t 'select.user' %>",
    allowClear: true,
    width: "100%"
  });
  $(".select-room").select2({
    placeholder: "<%= t 'select.room' %>",
    allowClear: true,
    width: "100%"
  });

  master_course_code = $('.modal').data('master-course-code');
  master_subject_code = $('#master_class_subject_master_subject_id')[0].value == "" ?
    "" : $('#master_class_subject_master_subject_id')[0]
    .options[$('#master_class_subject_master_subject_id')[0].value].text.split('-')[0];
  master_class_code = $('#master_class_subject_master_class_id')[0].value == "" ?
    "" : $('#master_class_subject_master_class_id')[0]
    .options[$('#master_class_subject_master_class_id')[0].value].text.split('-')[0];
  $('#master_class_subject_code').val(master_course_code + '-' + master_subject_code +
    '-' + master_class_code);
  $('#master_class_subject_master_subject_id').on('change', function() {
    text = this.value == "" ? "" : this.options[this.value].text.split('-');
    code = $('#master_class_subject_code')[0].value.split('-');
    $('#master_class_subject_name').val(text[1] || text);
    $('#master_class_subject_code').val(master_course_code + '-' +
      (text[0] || text) + '-' + code[2]);
  });

  $('#master_class_subject_master_class_id').on('change', function() {
    text = this.value == "" ? "" : this.options[this.value].text.split('-');
    code = $('#master_class_subject_code')[0].value.split('-');
    $('#master_class_subject_code').val(master_course_code + '-' +
      code[1] + '-' + (text[0] || text));
  });
});
</script>
