<%= search_form_for support.search, remote: true,
  url: admin_master_course_path(support.master_course) do |f| %>
  <div class="form-group">
    <div class="row">
      <label class="col-sm-2">
        <%= t "search" %>
      </label>
      <div class="col-sm-6">
        <%= f.search_field :code_or_name_cont, placeholder: t(".class_subject_code_or_name"),
          class: "form-control" %>
      </div>
      <div class="col-sm-2">
        <%= f.select :status_cont, support.collection_status_select,
          {include_blank: true}, class: "form-control" %>
      </div>

      <div class="col-sm-1">
        <%= f.submit t("buttons.search"), class: "btn btn-info" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label t ".subject" %>
      </div>
      <div class="col-sm-10">
        <%= f.search_field :master_subject_code_or_master_subject_name_cont,
          placeholder: t(".subject_code_or_name"), class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label t ".class" %>
      </div>
      <div class="col-sm-10">
        <%#= f.search_field :master_class_code_or_master_class_name_cont,
          placeholder: t(".class_code_or_name"), class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label t ".teacher" %>
      </div>
      <div class="col-sm-10">
        <%= f.search_field :user_name_or_user_email_cont,
          placeholder: t(".user_email_or_name"), class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= f.label t ".room" %>
      </div>
      <div class="col-sm-10">
        <%= f.search_field :room_name_cont,
          placeholder: t(".room_name"), class: "form-control" %>
      </div>
    </div>
  </div>
<% end %>

