<div class="modal fade" id="modal-schedule" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true"
  data-id="<%= master_class_subject.id %>"
  data-date="<%= l master_class_subject.master_course_start_date,
    format: :default %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= t :pick_schedules %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Responsive calendar - START -->
        <div class="responsive-calendar"
          data-start-course="<%= l master_class_subject.master_course_start_date,
          format: :default %>"
          data-end-course="<%= l master_class_subject.master_course_end_date,
          format: :default %>">
          <div class="controls">
            <a class="pull-left" data-go="prev"
              data-start-course="<%= l master_class_subject.master_course_start_date,
              format: :default %>">
              <div class="btn btn-primary">
                <%= t "kaminari.prev_page.previous" %>
              </div>
            </a>
            <h4><span data-head-year></span> <span data-head-month></span></h4>
            <a class="pull-right" data-go="next"
              data-end-course="<%= l master_class_subject.master_course_end_date,
              format: :default %>">
              <div class="btn btn-primary">
                <%= t "kaminari.next_page.next" %>
              </div>
            </a>
          </div><hr/>
          <div class="day-headers">
            <div class="day header">
              <%= t "days.mon" %>
            </div>
            <div class="day header">
              <%= t "days.tue" %>
            </div>
            <div class="day header">
              <%= t "days.wed" %>
            </div>
            <div class="day header">
              <%= t "days.thu" %>
            </div>
            <div class="day header">
              <%= t "days.fri" %>
            </div>
            <div class="day header">
              <%= t "days.sat" %>
            </div>
            <div class="day header">
              <%= t "days.sun" %>
            </div>
          </div>
          <div class="days" data-group="days">

          </div>
        </div>
        <!-- Responsive calendar - END -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          <%= t "buttons.close" %>
        </button>
        <button type="button" class="btn btn-primary">
          <%= t "buttons.save_changes" %>
        </button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $('.responsive-calendar').responsiveCalendar({
      time: '<%= l Date.today, format: :year_month %>',
      events: {
        <% if master_course_schedules.any? %>
          <% master_course_schedules.each do |master_course_schedule| %>
            '<%= l master_course_schedule.date, format: :ymd %>': {'slot': '<%= master_course_schedule.slot %>',
            'other': false, 'id': <%= master_course_schedule.id %>},
          <% end %>
        <% end %>
        <% if picked_master_course_schedules.any? %>
          <% picked_master_course_schedules.each do |master_course_schedule| %>
            '<%= l master_course_schedule.date, format: :ymd %>': {'slot': '<%= master_course_schedule.slot %>',
            'other': true, 'id': <%= master_course_schedule.id %>},
          <% end %>
        <% end %>
        // "2017-04-03": {"number": 5, "url": "http://w3widgets.com/responsive-slider"},
        // "2017-04-04": {"number": 1, "url": "http://w3widgets.com"},
        // "2017-05-05":{"number": 1},
        // "2017-06-06": {}
      }
    });
  });
</script>
