<tr class="master-class-subject master-class-subject-<%= master_class_subject.id %>">
  <td><%= master_class_subject.master_subject_code %></td>
  <td class="truncate-col" title="<%= master_class_subject.name %>">
    <%= master_class_subject.name %>
  </td>
  <td class="truncate-col" title="<%= master_class_subject.master_subject_name %>">
    <%= master_class_subject.master_subject_name %>
  </td>
  <td class="truncate-col" title="<%= master_class_subject.master_class_name %>">
    <%= master_class_subject.master_class_name %>
  </td>
  <td>
    <%= master_class_subject.room_name %>
  </td>
  <td class="text-center">
    <%= link_to t(:pick_schedule),
      edit_master_class_subject_path(master_class_subject), remote: true,
      class: "btn btn-primary" %>
  </td>
</tr>
