<li class="list-item list-item-expanded collapsed <%= notification.read ? "" : "background-gray" %>"
  title="Bạn đã được phân công môn <%= notification.master_class_subject_name %> có mã <%= notification.master_class_subject_code%> vào lúc <%= l notification.master_class_subject_created_at %>">
  <%= link_to notification do %>
    Bạn đã được phân công môn <%= notification.master_class_subject_name %> có mã <%= notification.master_class_subject_code%> vào lúc <%= l notification.master_class_subject_created_at %>
  <% end %>
</li>
