<div class="row">
  <div class="col-sm-3 text-center col-sm-offset-1">
    <%= image_tag @user.avatar.url(:medium), class: "image-circle" %>
  </div>
  <div class="col-sm-7">
    <div class="form-group">
      <h3><%= @user.name %>
        <%= link_to t(".edit_profile"), edit_user_path(@user), remote: true,
          class: "btn btn-primary pull-right" if @user === current_user %>
      </h3>
      <h4><%= t "users.teacher" %></h4>
    </div>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td class="col-md-3"><b><%= t ".fullname" %></b></td>
          <td class="col-md-9"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="col-md-3"><b><%= t ".workplace" %></b></td>
          <td class="col-md-9"><%= @user.workplace %></td>
        </tr>
        <tr>
          <td class="col-md-3"><b><%= t ".email" %></b></td>
          <td class="col-md-9"><%= @user.email %></td>
        </tr>
        <tr>
          <td class="col-md-3"><b><%= t ".phone_number" %></b></td>
          <td class="col-md-9"><%= @user.phone_number %></td>
        </tr>
        <tr>
          <td class="col-md-3"><b><%= t ".story" %></b></td>
          <td class="col-md-9"><pre><%= @user.story  %></pre></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
