<%= form_for [:admin, master_course], remote: true do |f| %>
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead class="thead-inverse">
      <tr>
        <th class="col-md-2"><%= f.label t(".code") %></th>
        <th class="col-md-4"><%= f.label t(".name") %></th>
        <th class="col-md-2"><%= f.label t(".start_date") %></th>
        <th class="col-md-2"><%= f.label t(".end_date") %></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= f.text_field :code, class: "form-control",
            placeholder: t(".please_input_code") %>
        </td>
        <td>
          <%= f.text_field :name, class: "form-control",
            placeholder: t(".please_input_name") %>
        </td>
        <td>
          <%= f.text_field :start_date, class: "form-control datepicker",
            placeholder: t("datepicker.time.default") %>
        </td>
        <td>
          <%= f.text_field :end_date, class: "form-control datepicker",
            placeholder: t("datepicker.time.default") %>
        </td>
        <td class="text-center">
          <%= f.submit t("buttons.create"), class: "btn btn-primary" %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
