<table class="table table-bordered table-condensed fixed-table">
  <thead class="thead-inverse">
    <tr>
      <th class="col-md-2"><%= sort_link search, :code, t(".code"), {}, {remote: true} %></th>
      <th class="col-md-3"><%= sort_link search, :name, t(".name"), {}, {remote: true} %></th>
      <th class="col-md-2"><%= t ".start_date" %></th>
      <th class="col-md-2"><%= t ".end_date" %></th>
      <th class="col-md-2"><%= sort_link search, :status, t(".status"), {}, {remote: true} %></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>
  <tbody>
    <% if master_courses.present? %>
      <%= render master_courses %>
    <% else %>
      <tr>
        <td colspan="6"><%= render "shared/nothing" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate master_courses, remote: true %>
