<div id="master_class_subjects" class="col-md-10 col-md-offset-1"
  data-course-code="<%= @master_course.code %>">
  <h1>Admin::MasterCourses#show</h1>
  <h2><%= t "course_name", name: @master_course.name %></h2>
  <div class="create-class-subject">
    <a role="button" href="#class_subject_form" class="btn btn-primary" data-toggle="modal">
      <%= t ".create_master_class_subject" %>
    </a>
  </div>

  <div id="master-class-subject-table">
    <%= render "master_class_subject_table", search: @search,
      master_class_subjects: @master_class_subjects %>
  </div>
</div>

<div class="modal-master_class_subject">
  <%= render "/admin/master_class_subjects/modal_create", master_class_subject: @master_class_subject, master_course: @master_course %>
</div>
