<tr class="master-class master-class-<%= master_class.id %>"
  data-id="<%= master_class.id %>">
  <td><%= text_field_tag :code, {}, value: master_class.code,
    class: "form-control master_class.code" %></td>
  <td><%= text_field_tag :name, {}, value: master_class.name,
    class: "form-control master_class_name" %></td>
  <td class="icon-link text-center">
    <a class="fa fa-check index-button update-master-class"
      aria-hidden="true" title="<%= t 'buttons.update'%>" style="cursor: pointer"></a>

    <%= link_to edit_admin_master_class_path(master_class, close: true),
      remote: true do %>
      <i class="fa fa-times index-button" aria-hidden="true"
        title="<%= t 'buttons.close'%>"></i>
    <% end %>
  </td>
</tr>
