<div class="form-group">
  <%= search_form_for support.search, remote: true, url: admin_users_path do |f| %>
    <div class="col-sm-1">
      <label><%= t ".search" %></label>
    </div>
    <div class="col-sm-6">
      <%= f.search_field :email_or_name_cont, placeholder: t(".email_or_name"),
        class: "form-control" %>
    </div>
    <div class="col-sm-1">
      <label><%= t ".status" %></label>
    </div>
    <div class="col-sm-2">
      <%= f.select :status_eq , support.collection_user_status,
        {include_blank: true}, class: "form-control" %>
    </div>
    <div class="col-sm-1">
      <%= f.submit t("buttons.search"), class: "btn btn-info" %>
    </div>
  <% end %>
</div>

