<tr class="user-<%= user.id %>">
  <td class="truncate-col" title="<%= user.name %>"><%= user.name %></td>
  <td class="truncate-col" title="<%= user.email %>"><%= user.email %></td>
  <td class="text-center"><%= t ".#{user.status}" %></td>
  <td class="text-center"><%= t ".#{user.is_admin}" %></td>
   <td class="icon-link text-center">
    <%= link_to edit_admin_user_path(user),
      remote: true, class: "edit-user" do %>
      <i class="fa fa-pencil-square-o index-button" aria-hidden="true"
        title="<%=t 'buttons.edit'%>"></i>
    <% end %>
    <%= link_to admin_user_path(user),
      method: :delete, data: {confirm: t("confirm")} do %>
      <i class="fa fa-times index-button" aria-hidden="true"
        title="<%= t 'buttons.delete' %>"></i>
    <% end %>
  </td>
</tr>
