<h3>
  <% if user.new_record? %>
    <%= t ".title_new" %>
  <% else %>
    <%= t ".title_update" %>
  <% end %>
</h3>
<%= form_for [:admin, user], remote: true do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <%= f.label t(".name") %>
        <%= f.text_field :name, class: "form-control",
          placeholder: t(".please_input_name") %>
      </div>
      <div class="col-md-3">
        <%= f.label t(".email") %>
        <%= f.email_field :email, class: "form-control",
          placeholder: t(".please_input_email") %>
      </div>
      <div class="col-md-3">
        <%= f.label t(".password") %>
        <% unless user.new_record? %>
          <%= t ".can_blank" %>
        <% end %>
        <%= f.password_field :password, class: "form-control",
          placeholder: t(".please_input_password") %>
      </div>
      <div class="col-md-3">
        <% if user.new_record? %>
          <%= f.label t(".password_confirm") %>
          <%= f.password_field :password_confirmation, class: "form-control",
            placeholder: t(".please_input_password_confirm") %>
        <% else %>
          <%= f.label t(".status") %>
          <%= f.select :status, User.statuses.collect{|k, v| [I18n.t(".#{k}"), k]},
            {}, class: "form-control" %>
        <% end %>
      </div>
    </div>
  </div>
  <% if user.new_record? %>
    <%= f.submit t("buttons.create"), class: "btn btn-success" %>
  <% else %>
    <%= f.submit t("buttons.update"), class: "btn btn-success" %>
  <% end %>
  <button class= "cancel btn btn-danger"><%= t "buttons.cancel" %></button>
<% end %>
