<table class="table table-striped table-bordered table-condensed table-hover">
  <thead class="thead-inverse">
    <tr>
      <th class="col-md-4"><%= t(".subject") %></th>
      <th class="col-md-4"><%= t(".class") %></th>
      <th class="col-md-2"><%= t(".room") %></th>
      <th class="col-md-2"><%= t(".date") %></th>
      <th class="col-md-2"><%= t(".slot") %></th>
    </tr>
  </thead>
  <tbody>
    <% if master_course_schedules.present? %>
      <%= render master_course_schedules %>
    <% else %>
      <tr>
        <td colspan="5"><%= render "shared/nothing" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate master_course_schedules, remote: true %>
