<div class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- Optionally, you can add icons to the links -->
      <li>
        <%= link_to admin_master_subjects_path do %>
          <span><%= t ".master_subjects" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_master_classes_path do %>
          <span><%= t ".master_classes" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_master_courses_path do %>
          <span><%= t ".master_courses" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path do %>
          <span><%= t ".users" %></span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_rooms_path do %>
          <span><%= t ".rooms" %></span>
        <% end %>
      </li>
    </ul><!-- /.sidebar-menu -->

  </div><!-- /.sidebar -->
</div><!-- /.main-sidebar -->
