<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <link rel="shortcut icon" href="http://i.imgur.com/Afhf4kW.png">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations" %>
  </head>

  <body class="skin-blue sidebar-mini">
    <% if current_user && current_user.is_admin? %>
      <div class="wrapper">
        <%= render "layouts/admin_header" %>
        <%= render "layouts/admin_sidebar" %>
        <div class="content-wrapper" style="margin-top: -20px;">
          <div class="flash" id="flash"><%= render "layouts/flash" %></div>
          <div class="row">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div>
        <%= render "layouts/header" %>
        <div class="flash" id="flash"><%= render "layouts/flash" %></div>
        <%= yield %>
        <%= render "layouts/footer" %>
      </div>
    <% end %>
  </body>
</html>
