<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <link rel="shortcut icon" href="http://i.imgur.com/Afhf4kW.png">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div>
      <div class="flash"><%= render "layouts/flash" %></div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
